p {
  font-size: 12px;
  }
.ant-tag-green {
    color: #52c41a;
    background-color: #f6ffed;
    border: 1px solid;
    border-radius: 8px;
    border-color: #b7eb8f;
    width: 475px;
    height: 22px;
    margin-left: 22px;
    margin-top: 8px;
    font-size: 14px;
}


.block-card {
  width: 600px;
  height: 225px;
  border: solid rgb(235, 236, 236) 1px;
  border-radius: 10px;
  background-color: white;
  margin-top: 25px;
}

.card_body {
  width: 550px;
  height: 200px;
  margin: 35px;
}

.data {
  display: grid;
  grid-template-columns: 2fr 14fr;
  box-sizing: border-box;
  width: 530px;
  height: 30px;
  background-color: rgb(250, 250, 250);
  margin-bottom: 4px;
}

.dataBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.time-genesis {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 6px;
}
